.hero {
	margin-top: -150px;
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background:
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("/img/products/Hammam.png") center / cover;
	text-align: center;
	border-radius: 0 0 20px 20px;
	position: relative;
}

.heroContent h2 {
	font-size: 1.8rem;
	color: var(--color-border);
	padding: 0 15px;
}

.heroContent p {
	font-size: 1.8rem;
	color: var(--color-border);
	padding: 0 15px;
}

.ctaButton {
	font-size: 1.8rem;
	color: var(--color-border);
	padding: 0 15px;
}

@media (min-width: 768px) {
	.hero {
		margin-top: -100px;
		height: 80vh;
		border-radius: 0 0 40px 40px;
	}
	.heroContent h2 {
		font-size: 3.5rem;
	}
}
