.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Plus grand pour la visibilité */
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.logo h1 {
    display: none;
}