.navbar {
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: auto;
	background-color: var(--color-primary);
	transform: translateY(-150%);
	transition: transform 0.4s ease;
	z-index: 1050;
}

.nav-visible {
	transform: translateY(0);
}

.menu li a {
	color: var(--color-neutral-light, #ffffff);
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu li a.active {
	color: #eaddca;
	font-weight: bold;
}

@media (min-width: 1024px) {
	/* Style desktop si nécessaire ou sidebar latérale */
}
